html, body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(0, 51, 77);
}

#page-header {
  font-family: 'Audiowide', cursive;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 0em;
  cursor: default;
}

#page-header h1 {
  font-size: 5em;
}

#page-header h4 {
  font-size: 1.5em;
}

#root {
  background-color: white;
  margin-top: 30px;
  height: 475px;
  position: relative;
}

#root h2 {
  position: absolute;
  top: 60px;
  width: 500px;
  left: 150px;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 2.5em;
  text-align: center;
}

#root h3 {
  position: absolute;
  top: 140px;
  width: 500px;
  left: 150px;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 1.5em;
  text-align: center;
}

#root h4 {
  position: absolute;
  top: 400px;
  width: 500px;
  left: 150px;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 1em;
  text-align: center;
}

#root ol {
  position: absolute;
  top: 190px;
  width: 800px;
  left: 0px;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#root ol li {
  width: 400px;
}

#modal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.507);
  z-index: 1;
}

.modal-content {
  position: absolute;
  width: 800px;
  height: 500px;
  background-color: white;
  left: 50%;
  margin-left: -400px;
  top: 200px;
}

.modal-text {
  font-family: 'Press Start 2P';
  color: black;
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
}

.close {
  cursor: pointer;
  color: black;
  float: right;
  font-size: 3em;
  padding: (0px 10px 0px 0px);
}

.control-gif {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.control-box {
  width: 800px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.control-explain {
  text-align: center;
  width: 300px;
  font-family: 'Press Start 2P';
  color: black;
  font-size: 1em;
}

.control-start {
  text-align: center;
  width: 800px;
  font-family: 'Press Start 2P';
  color: black;
  font-size: 1em;
}

#explanations {
  width: 400px;
}

#explanations h3 {
  font-family: 'Audiowide', cursive;
  color: white;
}

#explanations a {
  text-decoration: none;
  color: rgb(199, 199, 199);
}

#explanations a:hover {
  text-decoration: underline;
  color: white;
}

#explanations p {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.footer-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.right-column {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.right-column img {
  padding-left: 25px;
  padding-top: 50px;
}

#credits {
  margin-top: 30px;
  font-size: 4em;
  display: flex;
  justify-content: flex-end;
}

#credits a {
  color: rgb(160, 160, 160);
  text-decoration: none;
  padding-left: 20px;
}

#credits a:hover {
  color: rgb(255, 255, 255);
  transition: 0.3s;
}